html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans KR', 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  font-family: 'Noto Sans KR', 'Noto Sans', sans-serif;
  -webkit-border-radius: 0;
  border-radius: 0;
}
button {
  font-family: 'Dosis', sans-serif;
  background-color: transparent;
}
a {
  color: white;
  text-decoration: none;
  outline: none;
  display: block;
}
a:hover,
a:active {
  text-decoration: none;
}
::placeholder {
  font-size: 0.825rem;
}

.Login {
  background-color: #2c59b7;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: 'Jua', sans-serif;
  font-family: 'Mukta', sans-serif;
}

.Login .logo {
  white-space: normal;
  font-family: 'Rock 3D', cursive;
  color: white;
  font-size: 55px;
  text-align: center;
}

.Login .login-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login .login-form input {
  width: 150px;
  outline: 0;
  display: flex;
  background: white;
  padding: 10px 40px;
  flex-direction: column;
  margin-bottom: 15px;
  border-radius: 25px;
  border: none;
  font-size: 20px;
  height: 13px;
  text-align: center;
}

.Login .login-form button {
  border: none;
  width: 220px;
  background: #000000;
  border-radius: 25px;
  padding: 5px 10px;
  color: white;
  outline: 0;
  text-transform: uppercase;
  letter-spacing: 10px;
  cursor: pointer;
  font-size: 10px;
  height: 37px;
  font-weight: bold;
}
.Login .header {
  position: absolute;
  top: 15px;
  right: 10px;
  color: white;
  font-size: 15px;
}
.Login .header a {
  display: inline;
}

.Login .footer {
  position: absolute;
  bottom: 100px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  transition: all ease 1s 0s;
}

.Login .footer.clicked {
  color: rgba(0, 0, 0, 1);
  transition: all ease 0.2s 0s;
}

.App {
  position: relative;
  height: 100vh;
  width: 100%;
}
.App .Layout {
  height: 100vh;
  width: 100%;
}

.App .Layout .Home {
  height: 100vh;
  width: 100%;
  background-color: white;
  position: relative;
}

.App .Layout .content {
  position: relative;
  width: 100%;
  height: 80%;
  top: 9%;
  overflow: auto;
}

.Layout .header {
  text-align: right;
  margin-right: 30px;
  font-size: 25px;
  position: relative;
  top: 40px;
}

.Layout .menu {
  width: 80%;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 10%;
  right: -100%;
  z-index: 1;
  transition: all ease 0.5s 0s;
}

.Layout .menu .header {
  z-index: -1;
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-size: 35px;
  font-weight: bold;
}

.Layout .menu .header svg {
  padding-left: 15px;
  font-size: 25px;
}

.Layout .menu.active {
  right: 0px;
}

.Layout .menu .menu-items {
  flex: 3;
  text-align: left;
}

.Layout .menu .menu-items li {
  margin-left: 30px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.Layout .menu .menu-items li a {
  color: black;
}

.Layout .menu .footer {
  flex: 0;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 999;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.2);
}

.help {
  background-color: #2c59b7;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.help .header {
  position: absolute;
  top: 15px;
  right: 10px;
  color: white;
  font-size: 15px;
}

.help .header a {
  display: inline;
}

.help .logo {
  white-space: normal;
  font-family: 'Rock 3D', cursive;
  color: white;
  font-size: 55px;
  text-align: center;
}

.help .content {
  height: 70%;
}

.mypage .header {
  text-align: left;
  font-weight: 900;
  margin-left: 20px;
  font-size: 40px;
  position: relative;
  top: 10px;
  color: #2c59b7;
}

.Layout .content .mypage {
  height: 30vh;
}

.Layout .content .mypage .content {
  width: 100%;
  height: 100%;
  background: whitesmoke;
}

.Layout .content .mypage .content svg {
  margin-right: 10px;
  font-size: 35px;
  line-height: 5px;
}

.Layout .content .mypage .content li {
  margin-bottom: 15px;
  margin-left: 50px;
  font-weight: 900;
  font-size: 20px;
}
