.App {
  background-color: #2c59b7;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: 'Jua', sans-serif;
  font-family: 'Mukta', sans-serif;
}

.App .logo {
  white-space: normal;
  font-family: 'Rock 3D', cursive;
  color: white;
  font-size: 55px;
  text-align: center;
}

.App .login-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .login-form input {
  width: 150px;
  outline: 0;
  display: flex;
  background: white;
  padding: 10px 40px;
  flex-direction: column;
  margin-bottom: 15px;
  border-radius: 25px;
  border: none;
  font-size: 20px;
  height: 13px;
  text-align: center;
}

.App .login-form button {
  border: none;
  width: 220px;
  background: #000000;
  border-radius: 25px;
  padding: 5px 10px;
  color: white;
  outline: 0;
  text-transform: uppercase;
  letter-spacing: 10px;
  cursor: pointer;
  font-size: 10px;
  height: 37px;
  font-weight: bold;
}
