.navi-bar {
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #2c59b7;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  color: white;
}

.navi-bar div {
  width: 85.34px;
  margin-top: 5px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.navi-bar svg {
  font-size: 25px;
  margin-bottom: 7px;
}
